{% extends 'main/base.html' %}

{% block title %}
Alle Spiele
{% endblock %}

{% block content %}
<div class="grid text-center">

    {% for g in games %}
    <div class="col">
        <div class="card" style="margin: 2rem; text-align: left; width: 18rem;">
            <div class="card-body">
                <a href="/gamelog/{{g.id}}" class="card-title fs-5">{{g.player1}} vs {{g.player2}} (3:1)</a>
                <p class="card-text">Spielzeit: {{g.playdate}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}