{% extends 'main/base.html' %}

{% block title %}
Game
{% endblock %}

{% block content %}
{% if valid == 1 and newleg == 0 and done == 0%}
<div class="container">
    <div class="row justify-content-md-center" style="margin: 1rem 0rem 0rem 0rem">
        <div class="col col-lg-3">
            <p class="fs-1"><span class="border border-primary" style="padding: 0rem 0.5rem 0rem 0.5rem">{{standing.0}}</span>
                {{game.player1}}</p>
        </div>
        <div class="col-md-auto">
            <p class="fs-2" style="text-align: center;">:</p>
        </div>
        <div class="col col-lg-3" style="text-align: right">
            <p class="fs-1">{{game.player2}} <span class="border border-primary"
                                       style="padding: 0rem 0.5rem 0rem 0.5rem">{{standing.1}}</span></p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-sm-4">
            <p class="fs-2" style="text-align: center;">{{score.0}}</p>
        </div>
        <div class="col-md-auto" style="text-align: center">
            <p class="fs-2" style="text-align: center;">:</p>
        </div>
        <div class="col col-sm-4" style="text-align: right">
            <p class="fs-2" style="text-align: center;">{{score.1}}</p>
        </div>
    </div>
    {% if bust == 1 %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto" style="text-align: center">
            <p class="fs-3" style="text-align: center;">&#10060; BUST &#10060;</p>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto" style="text-align: center">
             <p class="fs-2" style="text-align: center;">&#127919; {{player}}</p>
        </div>
    </div>
</div>
<!-- HIER STANDINGS -->
<form class="row g-3" action="/process/" method="POST">{% csrf_token %}
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">1. Wurf</span>
            </div>
            <input type="number" name="throw1" class="form-control" placeholder="0" min="0" max="60"
                   aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">2. Wurf</span>
            </div>
            <input type="number" name="throw2" class="form-control" placeholder="0" min="0" max="60"
                   aria-describedby="basic-addon1">

            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">3. Wurf</span>
            </div>
            <input type="number" name="throw3" class="form-control" placeholder="0" min="0" max="60"
                   aria-describedby="basic-addon1">
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="text-align: center">
                <input type="submit" name="Start Game" value="Bestätigen" class="btn btn-primary">
            </div>
        </div>
    </div>
</form>
<!-- SPIEL STATISTIKEN-->
<div style="margin: 2rem 0rem 1rem 0rem">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2" style="text-align: left; width: 12rem;">
            <p class="fs-5" style="margin: 0rem;">{{avg.0}}</p>
        </div>
        <div class="col-md-auto" style="text-align: center; width: 12rem;">
            <p class="fs-5" style="margin: 0rem;">Average</p>
        </div>
        <div class="col col-lg-2" style="text-align: right; width: 12rem;">
            <p class="fs-5" style="margin: 0rem;">{{avg.1}}</p>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin: 0rem">
        <div class="col col-lg-2" style="text-align: left; width: 12rem;">
            <p class="fs-5">{{lavg.0}}</p>
        </div>
        <div class="col-md-auto" style="text-align: center; width: 12rem;">
            <p class="fs-5">Leg Average</p>
        </div>
        <div class="col col-lg-2" style="text-align: right; width: 12rem;">
            <p class="fs-5">{{lavg.1}}</p>
        </div>
    </div>
</div>

<!-- LISTE DER GESPIELTEN VISITS -->
<ul class="list-group">
    {% for v in visits %}
    {% if not v.throw1 == -1 %}
    {% if not v.throw3 == -1 %}
    <li class="list-group-item">{{v.number}} {{v.player}} {{v.throw1}} {{v.throw2}} {{v.throw3}}</li>
    {% else %}
    <li class="list-group-item">{{v.number}} {{v.player}} BUST</li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% elif done == 1%}
</form>
<div class="container" style="margin: 1rem 0rem 0rem 0rem">
    <form class="" action="/home/" method="GET">
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="text-align: center">
                <h1>{{player}} hat gewonnen!</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto" style="text-align: center">
                <input type="submit" name="submit" value="Startseite" class="btn btn-primary">
            </div>
        </div>
    </form>
    <!-- STATISTIKEN FOLGEN -->
</div>
{% else %}
<div class="container" style="margin: 1rem 0rem 0rem 0rem">
    <div class="row justify-content-md-center">
        <div class="col-md-auto" style="text-align: center">
            <h1>Zurzeit kein Spiel</h1>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}