{% extends 'main/base.html' %}

{% block title %}
Playerlist
{% endblock %}

{% block content %}
<div class="container">
    <h4 style="text-align: center">Leaderboard</h4>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Wins</th>
            <th scope="col">Average</th>
        </tr>
        </thead>
        <tbody>
        {% for p in players %}
        <tr>
            <th scope="row">{{p.id}}</th>
            <th>{{p.name}}</th>
            <th>{{ wins|get_item:p.id }}</th>
            <th>0</th>
            {% if p.id in wins %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-group">

    </ul>
</div>


{% endblock %}
